.cart_box {
  display: flex;
  flex-direction: column;
}
.cart_empty-box {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart_empty-image {
  width: 300px;
}
.cart_empty-title {
  margin-bottom: 10px;
}
.cart_empty-desc {
  margin-bottom: 20px;
}
.cart_empty-btn {
  background-color: orange;
  border: 0px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  height: 36px;
  cursor: pointer;
}

.cart_list-box {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cart_list-box {
    width: 80%;
    margin: auto;
  }
}
.cart_list-header {
  height: 40px;
  margin-top: 30px;
  background-color: rgb(70, 221, 221);
  display: none;
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .cart_list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
  }
}

.cart_list-header li {
  list-style-type: none;
}

.cart_list-body {
  width: 100%;
  background-color: rgb(70, 221, 221);
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.cart_list-body li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 40px;
}
.cart_list_item-name {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .cart_list_item-name {
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.cart_item-image {
  width: 150px;
  height: 100px;
  margin-right: 10px;
}

.border-dashed {
  width: 100%;
  border: 2px dashed grey;
}
.cart_order-total {
  display: flex;
  justify-content: space-between;
}
.cart_order-btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  margin-right: 0px;
}
.place-order-btn {
  height: 40px;
  font-size: 18px;
  background-color: orange;
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}
