.food-card-image {
  width: 150px;
  height: 120px;
  border-radius: 8px;
}
.food-desc {
  white-space: nowrap;
  overflow: hidden;
}
.food_card-title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.food_card-rating {
  margin-bottom: 6px;
  margin-top: 5px;
  font-weight: bold;
}

.w-60px {
  width: 60px;
}
