.sorting-container {
  height: 100%;
  margin-top: 10px;
  align-self: flex-end;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .sorting-container {
    align-self: flex-start;
  }
}

.sort-icon {
  font-size: 30px;
  margin-right: 5px;
}
.select-sort {
  border: 0px;
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
}
