/* utilities */

.bg-orange {
  background-color: orange;
}

.text-orange {
  color: orange;
}

a {
  color: black;
  text-decoration: none;
}

/* selector styling  */

#navbarSection {
  background-color: aliceblue;
}

#navbarTitle {
  font-size: 25px;
}

#hamburgerBtn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

#hamburgerIcon {
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  #hamburgerBtn {
    display: none;
  }
}

#linksBox {
  display: none;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  #linksBox {
    display: flex;
    align-items: center;
  }
}

#linksBox li,
#hiddenLinksBox li {
  list-style-type: none;
  margin-left: 30px;
  cursor: pointer;
  padding: 3px;
  border-radius: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#navbarCloseBtn {
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}
